/*
  Below you'll find the color informations that are default in 
  wpjeriko01. Feel free to adjust them to your likings.

  Most of the background images have hardcoded background colors, 
  or in other words: No transparency. If you change the colors of
  an element with background, make sure you edit the graphic as 
  well. I also made sure that  no elements depend on each other, 
  so there's only one thing:
  
  .entry a needs to be placed before .entry h1 a

  The color informations are coded in hexadecimal. If you don't 
  have a graphic program that's capable of this,
  http://www.ficml.org/jemimap/style/color/wheel.html is a nice 
  online application just for this purpose.
*/


/* GENERAL LAYOUT */


/* Background of the complete website */
body { background: #1D2A4B; }

/* Background of the container containing the website */
#wrap { background: #FFF url(./_img/bg_wrap.png); }

/* Background of the header */
#header { background: #000 url(./_img/bg_head.png) no-repeat right; }

/* Background of highlight area */
#featured { background: #AEF42D url(./_img/bg_featured.png); }

/* Background of the content area */
#content { background: #FFF url(./_img/bg_content.png) no-repeat top; }

/* Background of the sidebar */
#sidebar { background: #142E63; }

/* Background of the footer */
#footer { background: #000; }


/* HEADER */


/* Blog title */
#header h1 { color: #FFF; }

/* Blog description */
#header h2 { color: #FFF; }

/* Post headers */
h1 a { color: #000; }


/* HIGHLIGHT AREA */

/* Hovered header from highlighted post */
.fheader h1 a:hover { color: #FFF; }

/* Meta information from highlighted post */
.fheader .meta { color: #FFF; }

/* Hovered meta information from highlighted post */
.meta a { color: #FFF; }

/* Links in highlighted post */
.fcontent a { color: #FFF; }


/* POSTS */


/* Hovered header from posts */
.entry h1 a:hover { color: #A8C5EC; }

/* Meta informations from posts */
.entry .meta { color: #A8C5EC; }

/* Links in posts */
.entry a { color: #5370A7; }

/* Header link from posts */
.entry h1 a { color: #000; }

/* Navigation links below posts */
.navigation a { color: #A8C5EC; }


/* COMMENT LIST AND FORM */

/* Background of comments */
#commentlist li { background: #A8C5EC; }

/* Background of even comments */
#commentlist li.even { background: #A8C5EC; }

/* Background of odd comments */
#commentlist li.odd { background: #B9D6FD; }

/* Background of author comments */
#commentlist li.author { background: #AEF42D; }

/* Links in comments */
#commentlist a { color: #3863B2; }

/* Background of comment form */
#commentform fieldset { background: #A8C5EC; }

/* Background of submit button */
#commentform .cfrow #submit { background: #97B4DB; }


/* SIDEBAR */ 


/* Background and color of search field */
#sidebar #s { background: #FFF url(./_img/bg_searchbar.png) repeat-x top; color: #888; }

/* Links in sidebar */
#sidebar li a { color: #3863B2; }

/* Hovered links in sidebar */
#sidebar li a:hover { color: #FFF; }


/* FOOTER */


/* Footer */
#footer p { color: #666; }

/* Links in footer */
#footer a { color: #999; }

/* Hovered links in Footer */
#footer a:hover { color: #DDD; }


/* ...AND THE REST */


/* Date in archive and category pages */
#archivelist span { color: #888; }

/* Links in archive and category pages */
#archivelist a { color: #3863B2; }

/* Background of blockquotes */
blockquote { background: #CAE7FE; }

/* Background of pre'd elements */
pre { background: #C7EF7B; }
