div#popout ul ul,
div#popout ul li:hover ul ul
{display: none;}

div#popout ul li:hover ul,
div#popout ul ul li:hover ul
{display: block;}

#popout ul li {
float: left; 
width: 100%;
}

#popout ul li a {
height: 1%; 
} 
