hr {
	display: none;
	}

.hr {
	border-bottom: 1px solid #f5fff0;
	border-top: 1px solid #786;
	}

h1.sidetitle {
	padding: 3px 0;
}

#searchbar ul {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	}

#searchbar ul li {
	padding-left: 8px;
	padding-bottom: 0px;
	}

.widecolumn h2 {
	margin-top: 50px;
	}

#page {
	width: 521px;
	padding: 0;
	margin: 0;
	}

#sidebar {
	width: 150px;
	}

#header {
	width: 684px;
	}

#footer {
	width: 674px;
	}